MONGODB_URI="mongodb://localhost:27017/vitexCafe"
JWT_SECRET="your_jwt_secret"
# Comma-separated list of allowed origins
ALLOWED_ORIGINS="https://vitex-cafe.vercel.app"
BLOB_READ_WRITE_TOKEN="BLOB_READ_WRITE_TOKEN"
TZ=Asia/Ho_Chi_Minh